@import 'styles/var';

.container-listar-eventos{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-auto-columns: 95%;
    padding-bottom: 100px;

    .titulo-principal{
        text-align: center;
        color:$c-blue;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .content-eventos{
        background-color: #E1E7F2;
        padding: 40px;
        border-radius: 30px;
        min-width: 710px;
        width: 70%;
        display: grid;
        row-gap: 20px;

        .titulo-eventos{
            color:$c-blue;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-align: center;
        }

        .card-content{
            background-color: $c-white;
            padding: 20px;
            border-radius: 30px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            .container-num-recibo{
                display: flex;
                justify-content: space-between;

                p{
                    font-size: 32px;
                    font-weight: 500;
                    color: $c-blue;
                    margin: 10px 0px;
                    width: 100%;
                    text-align: center;
                }

                a{
                    display: flex;
                    align-items: center;
                    color:$c-blue;
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .container-validade{
                p{
                    text-align: center;
                    width: 34vh;
                    color: $c-blue;
                    font-size: 21px;
                    font-weight: 500;
                    margin-bottom: 0px;
                }
            }

            .container-data--buttons{
                display: grid;
                gap: 5%;
                justify-content: space-between;
                grid-template-columns: repeat(2,auto);

                div{
                    display: flex;
                    gap:20px;
                }

                p{
                    color:$c-blue;
                    font-size: 21px;
                    font-weight: 500;
                }
   
                .button-edit{
                    height: 40px;
                    width: 150px;
                    border-radius: 16px;
                    font-size: 18px;
                    font-weight: 700;
                    cursor: pointer;
                    background-color:#3290FF;
                    border: none;
                    color:$c-white;

                    &:hover{
                        background-color: rgb(50, 144, 255, 0.8);
                    }
                }

                .button-excluir{
                    height: 40px;
                    width: 150px;
                    border-radius: 16px;
                    font-size: 18px;
                    font-weight: 700;
                    cursor: pointer;
                    background-color: #EF0A0A;
                    color:$c-white;
                    border:none;

                    &:hover{
                        background-color: rgb(239,10,10,0.5);
                    }
                }
            }   
        }

        .container-button-criar-evento{
            display: flex;
            padding-top: 30px;
            justify-content: center;

            button{
                width: 160px;
                height: 42px;
                background-color: $c-white;
                font-size: 18px;
                font-weight: 700;
                cursor: pointer;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border: none;
                border-radius: 16px;

                &:hover{
                    background-color:  $c-blue;
                    color: white;
                    transition-duration: 0.5s;
                }

                &:active{
                    background-color:  $c-lightBlue;
                    color: $c-blue;
                }
            }
        }


    }

}