@import 'styles/var';

.menu {
  width: 100%;
  background-color: $c-blue;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
  display: flex;
  justify-content: left;

}

.line{
  display: inline;
}

.line:first-child{
  margin-right: 5rem;
}


.link{
  color: $c-white;
  text-decoration: none;
  margin:0.5rem;
  border: 0px;
  background-color: $c-blue;
  font-size: large;
}

.link:hover{
  color: rgb(225, 225, 225);
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color:  $c-gray ;
  margin-bottom: 0px;
}

.link:active {
  color: $c-gray;
}

