@import 'styles/var';

.paper{
  display: grid;
  justify-items: center;
  justify-content: center;
  //grid-auto-columns: 95%;
  padding-bottom: 100px;

}
.login{
  background-color: #E1E7F2;
  padding: 40px;
  border-radius: 30px;
  min-width: 40rem;
  width: 70%;

  text-align: center;
  margin: 10px 15px;
}

.title{
  font-style: 100px;
  color: $c-blue;
  
}

.alerta{
  color: red;
  display: flex;
  align-items: baseline;
  
}

.form{
  //width: '100%';
  color: $c-lightBlue;
  background-color: $c-white;
}
.control{
  color: $c-blue;
}

.submit{
  display: flex;
  padding-top: 300px;
  justify-content: center;


  button{

    background-color: $c-white;
    font:700 18px "Inter";
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    //border: none;
    
    border-radius: 16px;

    &:hover{
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}