@import 'styles/var';

.modalTitle {
    color: $c-blue;
    text-align: center;
    // background-color: green;
    // padding: 15px 20% 20px 20%;
    padding-top: 1px;
    font-size: x-large;
    width: 500px;
}

.input {
    margin:1px 0 0 0;
    width:12rem;
    text-align:left;
    padding: 0 1rem 0 1rem;
    // border: 1px solid gray;
    display:inline-block;   

}

.input:first-child{
    width:12rem;
    margin-right: 5px;
}

.title{
    font-style: normal;
    color: $c-blue;
  }

.inputFull {
    width:93%;
    text-align:left;
    padding: 0 1rem;


}

.buttonConfirm{
    height: 35px;
    width: 130px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color:#3290FF;
    border: none;
    color:$c-white;

    &:hover{
        background-color: rgb(50, 144, 255, 0.8);
    }
}

.buttonCancel{
    height: 35px;
    width: 130px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: #EF0A0A;
    color:$c-white;
    border:none;
    
}