@import 'styles/var';

.modalTitle {
    color: $c-blue;
    text-align: center;
    background-color: green;
    // padding: 15px 20% 20px 20%;
    font-size: x-large;
    width: 500px;
}

.input {
    margin: 20px;
    color: red;
    background-color: yellow;
}

.form  > *{
    // display: ;
    margin: 30px 0;
    background-color: red;
    width: 40%;

}

